
#Demo {
  margin: 50px auto;
  padding: 1rem;
  max-width: 1000px;
  #DemoHeader {
    #DemoAlgorithmSelectBox {
      max-width: 300px;
    }
    #DemoAlgorithmInfoBox {
      margin: 50px 0;
    }
    #StickCountChanger {
      display: flex;
      margin: 1rem 0;
      .StickCountChangerComponents {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        &.updater {
          border: 1px lightgray solid;
          width: 50px;
          cursor: pointer;
          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}
