
#Root {
  display: flex;
  margin: 50px auto;
  max-width: 1200px;
  padding: 1rem;
  .RootImg {
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    img {
      display: block;
      width: 150px;
      aspect-ratio: 1 / 1;
      border: 1px gray solid;
      transition: all 0.3s;
      &:hover {
        border: 1px solid solid;
        transform: scale(1.05);
      }
    }
  }
}
