body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  th, td {
    border: 1px solid black;
    padding: 0.3rem 0.5rem;
  }
}

.markdown {
  h1 {
    $border_wodth: 7;
    font-size: 2rem;
    border-left: #{$border_wodth}px red solid;
    padding-left: #{$border_wodth * 2}px;
  }
  h2 {
    $border_wodth: 5;
    font-size: 1.8rem;
    border-left: #{$border_wodth}px blue solid;
    padding-left: #{$border_wodth * 2}px;
  }
  h3 {
    $border_wodth: 3;
    font-size: 1.6rem;
    border-left: #{$border_wodth}px green solid;
    padding-left: #{$border_wodth * 2}px;
  }
  h4 {
    $border_wodth: 1;
    font-size: 1.4rem;
    border-left: #{$border_wodth}px yellow solid;
    padding-left: #{$border_wodth * 2}px;
  }
  table {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid gray;
      padding: 5px;
    }
  }
}
